body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px;
}

.request-list {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    top: 300px;
    position: absolute;
}

.request-card {
    background-color: #eee;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.delete-button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.start-button {
    background-color: #e2e928;
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
